form#loginform {
  background: var(--wp--preset--color--base-2);
  box-shadow: 2px 4px 6px rgb(0 0 0 / 0.25);
  padding: var(--wp--preset--spacing--30);
  border-radius: var(--wp--preset--spacing--5);
  margin-top: var(--wp--preset--spacing--40);
}

form#loginform p {
  display: grid;
  gap: 0.5rem;
  font-weight: 200;
}

.login-remember label {
  display: flex;
  align-items: center;
  gap: var(--wp--preset--spacing--5);
  line-height: 1;
  margin-block: var(--wp--preset--spacing--10);
  cursor: pointer;
}

.wp-block-loginout .login-remember input {
  padding: calc(var(--wp--preset--spacing--5) * 2);
}

.login-remember input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 50%;
  outline-style: solid;
  outline-width: 2px;
  outline-color: transparent;
  outline-offset: 2px;
  transition-duration: 250ms;
}

.login-remember input[type='checkbox']:checked {
  background: #97d8cf;
  outline-color: #97d8cf;
  border-color: transparent;
}

.login-submit input[type='submit'] {
  background-color: var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--base-2);
  border: none;
  font-size: var(--wp--preset--font-size--medium);
  cursor: pointer;
  outline-style: solid;
  outline-width: 2px;
  outline-color: transparent;
  outline-offset: 2px;
  transition-duration: 250ms;
}

.login-submit input[type='submit']:hover,
.login-submit input[type='submit']:focus-visible {
  outline-color: var(--wp--preset--color--contrast);
}

.logged-in.wp-block-loginout {
  display: flex;
  padding-block: 12rem;
  align-items: center;
  justify-content: center;
}

.logged-in.wp-block-loginout a {
  background-color: var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--base-2);
  border: none;
  text-decoration: none;
  padding-block: var(--wp--preset--spacing--5);
  padding-inline: var(--wp--preset--spacing--10);
  border-radius: var(--wp--preset--spacing--5);
  font-size: var(--wp--preset--font-size--medium);
}
